################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Lothur.Web/.vs/Lothur.Web/v15
/src/Lothur.Web/.vs/Lothur.Web/v15
/src/Lothur.Web/bin/Debug
/src/Lothur.Web/obj
